@model GreetSomeone.Models.Greet
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="/redirect" method="post">
        <input type="text" name="Name" value="Your Name" />
        <input type="submit" value="Submit" />
    </form>
</body>
</html>