div {
  height:142px;
  width:358px;
  font-size: 36px;
  border: 16px solid;
  border-bottom: none;
  border-top: none;
  text-align: center;
  border-color: #4285F4;
  box-sizing: border-box;
  padding-top: 2rem;
  color: white;
}

#parent div:first-child{
  border-top: 16px solid;
  border-color: #4285F4;
  background-color: #E67676;
}

#parent div:nth-child(2){
  background-color: #F2F062;
  }
  
#parent div:nth-child(3){
  background-color: #A9E6E6;
  }
  
#parent div:last-child{
  border-bottom: 16px solid;
  border-color: #4285F4;
  background-color: #7692E4;
}

