.mainbox {
  box-sizing: border-box;
  width: 815px;
  height: 1000px;
  margin: 100px auto;
  font-family: 'Ubuntu', sans-serif;
  background-color: #DCD6CD;
}

form {
  width: 620px;
  height: 785px;
  align-content: center;
  padding-left: 95px;
}

header {
  padding-top: 0px;
  padding: 15px;
  height: 20px;
}

h1 {
  margin: 0px;
  font-family: 'Barlow', sans-serif;
  padding: 0px;

}

h2 {
  margin: 0px;
  font-family: 'Barlow', sans-serif;
  padding: 17px;
  background-color: #938C97;
  color: white;
}

div {
  width: auto;
  height: 70px;
}

.inline {
  display: inline-block;
}

article {
  display: inline-block;
}

#right_box {
  width: 285px;
  height: 415px;
  float: right;
  padding: 15px;
  margin: 0px;
}

#left_box {
  width: 285px;
  height: 415px;
  padding: 15px;
  margin: 0px;
}

#left_box div:nth-child(4) {
  float: right;
}

#left_box div:last-child {
  height: 210px;
}

#floaticle {
  float: right;
}

footer {
  height: 160px;
}

.telephone {
  padding-bottom: 10px;
  padding-right: 125px;

}
