<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8" />
    <title>Green Fox Fashion Web Store</title>
</head>
<body>
    <h2>Green Fox Fashion Web Store</h2>
</body>
</html>